body{
    font-family: Tahoma;
    background-color: white;
}
a{
    text-decoration: none;
    color: gray;
}
header{
    display: flex;
    min-height: 30px; 
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 35px;
    margin-left: 100px;
}
nav a{
    font-weight: 600;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 13px;
}
.button{
    text-transform: uppercase;
    color: grey;
    outline: 2px solid white;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
}
.button:hover{
    color: white;
}
.button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #013274;
    z-index: -1;
    transition: width 1s;
}
.button:hover::before{
    width: 100%;
}
.contenedor1{
    height: auto;
    width: 100%;
    display: flex;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
}
.contenedor1 .images{
    width: 45%;
}
.contenedor1 .images img{
    width: 100%;
    vertical-align: top;
}
.info{
    width: 55%;
}
.texto{
    width: 100%;
}
.texto h1{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
    font-size: 50px;
    color: #013274;
}
.texto p{
    margin-left: 150px;
    margin-right: 150px;
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    color: grey;
    text-align:justify
}
.botones{
    margin-left: 150px;
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.botones a{
    padding-right: 30px;
    font-weight: 600;
    font-size: 14px;
    color: #013274;
}
.botones img{
    width: 5%;
    vertical-align: top;
    padding-right: 20px;
}
.boton{
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: #013274;
    position: relative;
}
.boton::after{
    content: '';
    width: 80%;
    height: 1px;
    background-color: #013274;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}
.boton:hover::after{
    transform:scaleX(1);
}
.botones1{
    margin-left: 150px;
    margin-top: 170px;
    display: flex;
    align-items: center;
}
.botones1 img{
    width: 8%;
    padding-right: 20px;
}
.botones1 a{
    padding-right: 30px;
    font-weight: 600;
    font-size: 18px;
    color: #013274;
}
.boton1{
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: #013274;
    position: relative;
}
.boton1::after{
    content: '';
    width: 80%;
    height: 1px;
    background-color: #013274;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}
.boton1:hover::after{
    transform:scaleX(1);
}
/*Configuracion del contenedor de datos*/
.contenedor2{
    background-color: whitesmoke;
    display: flex;
    height: 100px;
    width: 70%;
    position: absolute;
    margin-left: 150px;
    top: 800px;
    box-shadow: 0 1px 1px 1px rgb(1,50,116);
    overflow: hidden;
}
.cont-cuadro{
    background-color: aliceblue;
    margin: 5px;
    width: 25%;
}
.title{
    display: flex;
    margin: 3px;
    height: 30px;
    align-items: center;
}
.icon{
    width: 10%;
    padding-right: 20px;
}
.titulo{
    color:gray;
    font-size: 15px;
    font-weight: 700;
}
.text h3{
    color: #013274;
    align-items: center;
    font-size: 18px;
    margin-left: 43px;
}
.should-text{
    height: 160px;
    width: 30%;
    margin-left: 150px;
    margin-top: 150px;
}
.should-text .Titulo{
    font-size: 35px;
    color: #013274;
}
.should-text .text{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px;
    color: grey;
    text-align:justify
}
/*Configuracion del cuadro de beneficios de la vacuna*/
.cont3{
    display: flex;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    height: 300px;
}
.tarjet{
    background-color:beige;
    margin: 5px;
    width: 24%;
    border-radius: 10px;
}
.img3{
    margin-left: 10px;
    margin-top: 10px;
}
.cont3 .title3{
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 10px;
    margin-right: 70px;
    color: #013274;
}
.cont3 .text3{
    font-family: sans-serif;
    font-size: 16px;
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 25px;
}
/*Cuadro de preparativos */
.cont-preparations{
    margin-top: 100px;
    display: flex;
    height: 700px;
    width: auto;
    overflow: hidden;
    box-sizing: border-box;
}
.cont-preparations .cont-img{
    width: 40%;
}
.cont-img img{
    width: 100%;
    vertical-align: top;
}
.cont-text4{
    width: 55%;
    margin: 20px;
}
.info4{
    width: 100%;
    margin: auto;
    text-align: justify;
}
.info4 h2{
    font-family: sans-serif;
    font-size: 32px;
    color: #013274;
    letter-spacing: 2px;
}
.info4 .text4{
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 25px;
    margin-right: 160px;
    letter-spacing: 1px;
    line-height: 20px;
}
.main-acordeon{
    margin-top: 40px;
}
.main-acordeon a{
    background-color: beige;
    padding:20px;
    font-family: sans-serif;
    color:#013274;
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    margin-top: 10px;
}
.main-acordeon p{
    background-color: beige;
    border-radius: 8px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: gray;
    margin-top: 2px;
    display: none;
}
.main-acordeon p:target{
    display: block;
}